/wallpaperAPI/.history
/wallpaperbootstrap/.history
/WallpaperPopupApp/dist
/WallpaperUI/dist
/WallpaperUI/.vs
/WallpaperUI/WallpaperUI/wwwroot/javascript/API
/WallpaperUI/WallpaperUI/obj
/WallpaperUI/WallpaperUI/bin
/WallpaperUI/WallpaperUI/node_modules
/wallpaperUIServer/.history
/output
/wallpaperAPI/node_modules
/wallpaperUIServer/addons/addontemplate/.history
/wallpaperUIServer/wallpaperuiserver.exe
/wallpaperUIServer/addons/addontemplate/addontemplate.exe
/wallpaperUIServer/public/wwwroot/_framework
/wallpaperUIServer/public/wwwroot/_content
/wallpaperAPI/dist
/wallpaperUIServer/public
