/wallpaperAPI/.history
/wallpaperbootstrap/.history
/WallpaperPopupApp/dist
/WallpaperUI/dist
/WallpaperUI/.vs
/WallpaperUI/WallpaperUI/wwwroot/javascript/API
/WallpaperUI/WallpaperUI/obj
/WallpaperUI/WallpaperUI/bin
/WallpaperUI/WallpaperUI/node_modules
/wallpaperUIServer/.history
/output
/wallpaperAPI/node_modules
/wallpaperUIServer/addons/addontemplate/.history
/wallpaperUIServer/wallpaperuiserver.exe
/wallpaperUIServer/addons/addontemplate/addontemplate.exe
/wallpaperUIServer/public/wwwroot/_framework
/wallpaperUIServer/public/wwwroot/_content
/wallpaperAPI/dist
/wallpaperUIServer/public
/wallpaperInstaller/wallpaperInstaller.exe
/betterapngcli/.history
/betterapngcli/inputBenchmark
/betterapngcli/output
/betterapngcli/input
/betterapngcli/result.bapng
/betterapngcli/benchmark.bapng
/betterapngcli/benchmark.ove
/betterapng/.history
/wallpaperInstaller/installing.bapng
/wallpaperInstaller/installing2.bapng
/wallpaperInstaller/.history
wallpaperUIServer/addons/addontemplate/media/backgrounds/Sequence 2.webm
wallpaperUIServer/addons/addontemplate/media/backgrounds/Alex_Audio_Event_Live_Wallpaper_Fix_Compressed.mp4
wallpaperUIServer/addons/addontemplate/media/backgrounds/image_3.jpg
wallpaperUIServer/addons/addontemplate/media/backgrounds/Sequence 1.webm
wallpaperUIServer/embedkey
wallpaperUIServer/storage/panels.json
wallpaperInstaller/wallpaperInstaller.zip
wallpaperInstaller/install.zip
wallpaperUIServer/preferences.json
/packaged
wallpaperUIServer/.pid
wallpaperUIServer/addons/addontemplate/disabled
/addontemplate/.history
/addontemplate/addontemplate.exe
/addontemplate/media/backgrounds/Sequence 2.webm
/addontemplate/media/backgrounds/Alex_Audio_Event_Live_Wallpaper_Fix_Compressed.mp4
/addontemplate/media/backgrounds/image_3.jpg
/addontemplate/media/backgrounds/Sequence 1.webm
/wallpaperInstaller/uninstall.exe
wallpaperUIServer/result/reencoded.png
wallpaperUIServer/result/reencoded.webm
presfx.7z
wallpaperSetup.exe
/WallpaperUI/.history
/WallpaperUI/WallpaperUI/.history
/wallpaperUIServer/addons/testclone/.history
/wallpaperUIServer/addons/testclone/addontemplate.exe
/wallpaperUIServer/addons/testclone/media
/wallpaperUIServer/result
