@implements IDialogContentComponent<string>

<div class="fluent-dialog-content">
    @Content
</div>

@code {

    [Parameter]
    public string Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog2 { get; set; }

    private void ToggleDialogPrimaryActionButton(bool enable)
    {
        Dialog2!.TogglePrimaryActionButton(enable);
    }
}